// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.users {
	#contain { text-align: center; }
	header { margin-bottom: 20px; }
	.edit-user input:not(:last-child) {
		display: block; width: 40%; height: 25px; margin-bottom: 20px;
		}
	#reg input:not(:last-child), #login input:not(:last-child) {
		display: block; width: 70%; margin-bottom: 20px; height: 25px; margin-top: 8px;
	}
	#reg { margin-bottom: 30px; margin-right: 30px; }
	#reg, #login {
		display: inline-block; vertical-align: top; width: 30%; text-align: left;
		}
	.button { width: 60px;}
	#user_city, #state { display: inline; vertical-align: top;}
	#state { width: 27%; height: 25px; font-size: 15px; margin-top: -10px; margin-bottom: 20px; }
	#pw-label, #state { display: block; }
	.error { color: red; }
	.edit, #dash-user { display: inline-block;}
	.edit { margin-right: 30px;}
}